@use 'styles/colors' as *;
@use 'styles/query' as *;

.root {
  width: 100%;
  font-family: SFProDisplay, sans-serif;

  @include mq-medium-up {
    max-width: 16rem;
  }
}

.labelRoot {
  position: static;
  margin-bottom: 0.125rem;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.57;
  color: get-color(text, main);
  transform: none;

  + .inputRoot {
    margin: 0;
  }

  &.labelFocused,
  &.labelError {
    color: get-color(text, main);
  }
}

.labelFocused {}

.labelError {}

.inputRoot {
  height: 2.5rem;
  font-family: inherit;
  border: 0.0625rem solid get-tint(500);
  border-radius: 0.125rem;

  &:hover:not(.inputDisabled) {
    border-color: get-color(primary, secondary);
  }
}

.input {
  padding: 0.5rem 0.75rem;
  line-height: 2;
  color: get-color(text, secondary);

  &::placeholder {
    color: get-tint(400);
  }
}

.inputFocused {
  border-color: get-color(primary, secondary);
  box-shadow: 0 0 0.25rem get-color(primary, main, 0.5);
}

.inputDisabled {
  background-color: get-tint(700);
}

.inputError {
  border-color: get-color(danger, main);

  .input {
    color: get-color(danger, main);
  }

  &.inputFocused {
    box-shadow: 0 0 0.25rem get-color(danger, main, 0.5);
  }
}

.helperTextRoot {
  margin-top: 0.125rem;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.57;
  color: get-tint(200);

  &.helperTextDisabled {
    color: get-tint(200);
  }

  &.helperTextError {
    color: get-color(danger, main);
  }
}

.helperTextDisabled {}

.helperTextError {}
