.formLabel {
  margin-bottom: 1.5rem;
  font: {
    size: 1.375rem;
    weight: 600;
  }
  line-height: 1.7;
}

.radioGroup {
  flex-direction: row;
}

.formControlLabel {
   margin: 0;
   &:not(:last-child) {
     margin-right: 2.5rem;
   }
}

.formControlLabelLabel {
  font-size: 0.875rem;
  color: #595959;
}

.radio {
  margin-right: 0.5rem;
  padding: 0;
}

.icon {
  width: 1rem;
  height: 1rem;
}