$padding: (
  mobile: 1rem,
  notepad: 2.5rem,
  desktop: 16rem,
);

@function get-padding($type) {
  @if map-has-key($padding, $type) {
    @return map-get($padding, $type);
  }

  @warn 'unknown type `#{$type}` in padding';

  @return null;
}
